

.StudentSignin{
    /* display: flex; */
    background: linear-gradient(90deg, rgba(0, 0, 255, 0.149), rgba(238, 238, 5, 0.21));
    margin: 0% 20%;
    border-radius: 40px 40px;
    padding: 5%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.286);
    /* justify-content: space-evenly; */
}
.StudentSignin label{
    font-size: 1rem;
}
.StudentSignin input{
    margin: 20px;
    padding: 2%;
}

.StudentSignin input::placeholder{
    color: rgb(110, 85, 90);
}

.studentreg{
    background: linear-gradient(80deg, rgba(255, 0, 0, 0.197), rgba(0, 0, 255, 0.745));
    -webkit-background-clip: text;
    /* background-size: 200%; */
    background-clip: text;
    color: transparent;
    margin: 2% 0px 0px 30%;
}
input{
    box-shadow: 2px 2px 3px rgba(6, 233, 6, 0.501);
}
label{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

