
.slid-container{
    display:flex;
    justify-content: center;
    margin: 30px;

}
.slid-subcontainer{
    max-width: 64rem;
    min-width: 0;
    width: 100%;
    height: auto;
    min-width: 100%;
    max-width: 0;
}
.slid-subcontainer img{
    border-radius: 1.5rem;
    border: 3px solid red;
    box-shadow: 2px 5px 7px rgb(205, 104, 104);
    position: relative;
    scroll-behavior: smooth;
    width: 100%;
    height: auto;
    max-height: 20rem;
}



