.nav-content, .p-newnav, .register-container{
    display: inline-block;
    margin: 10px 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.newnav-sub-container{
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.icon-gradient{
    background: linear-gradient(90deg, blue,violet);
    -webkit-background-clip: text;
    background-size: 200% 200%;
    background-clip: text;
    color: transparent;
    animation: move 4s infinite linear;
    margin: 10px;
}


@keyframes move{
    0% {background-position: 0%;}
    100% {background-position: 100%;}
}