*{
    padding: 0%;
    margin: 0%;
}
.nav-container{
    color: black;
    display: flex;
    justify-content: space-between;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: fixed white;
    width: auto;
    min-width: auto;

}
.nav-container h1{
    padding: 1.3rem;
}
h1:hover{
    color: aqua;
}
.list{
    display: flex;
    list-style-type: none;
    margin: 1.6rem;

}
.list a{
    color: black;
    text-decoration: none;
}
.list li a{
    padding: 5px 20px 5px 20px; 
    margin-top: 5px ;
    
}
.list  li a:hover{
    color: black;
    background-color: aqua;
    border-radius: 2rem;
}
